library/library-webservice/src/main/resources/xsds/book.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="book.client.lib.racic.com"
           targetNamespace="book.client.lib.racic.com" >

    <xs:element name="findBookbyIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findBookbyIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookInfo" type="tns:bookInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookInfo" type="tns:bookInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookServiceStatus" type="tns:bookServiceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="findBookAvailabilityRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findBookAvailabilityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookInfo" type="tns:bookInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="getAllBookRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookInfo" type="tns:bookInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:complexType name="bookInfo">
        <xs:sequence>
            <xs:element name="bookId" type="xs:string"/>
            <xs:element name="isAvailable" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bookServiceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>