library/library-webservice/src/main/resources/xsds/entities.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="client.lib.racic.com"
           targetNamespace="client.lib.racic.com" >

    <xs:complexType name="libraryInfo">
        <xs:sequence>
            <xs:element name="libId" type="xs:int"/>
            <xs:element name="libraryName" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="workInfo">
        <xs:sequence>
            <xs:element name="worksId" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="publicationYear" type="xs:int"/>
            <xs:element name="bookDescription" type="xs:string"/>
            <xs:element name="copiesAvailable" type="xs:int"/>
            <xs:element name="imageUrl" type="xs:string"/>
            <xs:element name="library" type="tns:libraryInfo"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="memberInfo">
        <xs:sequence>
            <xs:element name="iduser" type="xs:int"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="borrowing" type="tns:borrowingInfo"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bookInfo">
        <xs:sequence>
            <xs:element name="bookId" type="xs:string"/>
            <xs:element name="isAvailable" type="xs:boolean"/>
            <xs:element name="work" type="tns:workInfo"/>
            <xs:element name="borrowing" type="tns:borrowingInfo"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="borrowingInfo">
        <xs:sequence>
            <xs:element name="idborrow" type="xs:int"/>
            <xs:element name="issueDate" type="xs:date"/>
            <xs:element name="returnDate" type="xs:date"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="isExtended" type="xs:boolean"/>
            <xs:element name="member" type="tns:memberInfo"/>
            <xs:element name="book" type="tns:bookInfo"/>
        </xs:sequence>
    </xs:complexType>

    <!--==============WORK==============-->

    <xs:element name="workSearchByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="worksId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="workSearchByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="work" type="tns:workInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="workSearchByAuthorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="workSearchByAuthorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="work" type="tns:workInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllWorksRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllWorksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="work" type="tns:workInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>


    </xs:element>
    <xs:element name="isValidWorkByAuthorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="isValidWorkByAuthorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--==============Member==============-->

    <xs:element name="findAllMemberRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="findAllMemberResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="member" type="tns:memberInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="findMemberbyEmailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findMemberbyEmailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="member" type="tns:memberInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="findMemberbyUsernameAndPassRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findMemberbyUsernameAndPassResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="member" type="tns:memberInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--==============Book==============-->
    <xs:element name="findBookbyIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findBookbyIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:bookInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="updateBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:bookInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="findAvailableBooksFromWorkRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="worksid" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findAvailableBooksFromWorkResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:bookInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getAllBookRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:bookInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--==============Borrowing==============-->
    <xs:element name="returnBorrowingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idborrow" type="xs:integer"/>
                <xs:element name="member" type="tns:memberInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="returnBorrowingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNotReturnedBorrowingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="date" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getNotReturnedBorrowingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowing" type="tns:borrowingInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="extendBorrowingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idborrow" type="xs:integer"/>
                <xs:element name="member" type="tns:memberInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="extendBorrowingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="verifyBoksListAvailableSizeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="worksid" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="verifyBoksListAvailableSizeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="borrowBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="worksId" type="xs:integer"/>
                <xs:element name="member" type="tns:memberInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="borrowBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="findBorrowingByMemberRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="member" type="tns:memberInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findBorrowingByMemberResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowing" type="tns:borrowingInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="findByBorrowingIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idborrow" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findByBorrowingIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="borrowing" type="tns:borrowingInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--==============Service Status==============-->

    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>



</xs:schema>