library/library-webservice/src/main/resources/xsds/member.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="member.client.lib.racic.com"
           targetNamespace="member.client.lib.racic.com" >

    <<xs:element name="findAllMemberRequest">
    <xs:complexType/>
</xs:element>
    <xs:element name="findAllMemberResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="memberInfo" type="tns:memberInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="memberInfo">
        <xs:sequence>
            <xs:element name="iduser" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="borrowingServiceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>